@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital@1&display=swap');

body{
  background-color: rgb(10, 12, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.mainContainer{
  background-color: rgb(28, 25, 56);
  width: 80%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.mainParagraph{
  color: white;
  width: 100%;
  margin: auto;
  padding-left: 10px;

}
.groupImage{
  width: 100%;
  border-radius: 20px;
  padding-left: 20px;
  filter: grayscale(1) sepia(1) saturate(12) hue-rotate(250deg) brightness(0.5);

}
.colorChange{
  color: rgb(167, 91, 207)
}
.Title{
  font-family: 'Lexend Deca';
  font-size: 3em;
  
}
.content{
  padding: 100px;
  padding-top: 100px;
  margin: 0px;
}
.paragraphyl{
  color: rgb(130, 128, 153);
  font-family: 'Inter';
  font-size: 2em;
}
.stats{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0px;
}
.stat{
  text-align: center;
}
.statNumber{
  font-size: 2em; 
  font-weight: bold; 
  color: #fff; 
  } 
.statLabel{ 
  font-size: 1.5em;
  color: rgb(124, 122, 147);
}